# Configurações do Pinecone
PINECONE_API_KEY=sua_chave_api_aqui
PINECONE_INDEX_NAME=vivi-ia-base

# Configurações do Google AI
GOOGLE_API_KEY=sua_chave_google_aqui

# Configurações do servidor
PORT=5001
